*,*::after,
*::before{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  font-size:16px;
}

body{
height:100vh;
background-color:#62929E;
}


.container{
  width:45%;
  min-width:500px;
  background-color: #99F7AB;
  padding:2.5rem 2rem;
  position:absolute;
  transform: translate(-50%,-50%);
top:50%;
left:50%;
box-shadow:0 15px 25px rgba(0,0,0,0.25) ;
}

.scores{
  margin-bottom:50px;
  text-align:right;
}
.scores p,
#computer_score,
#user_score{
  font-size:1.2rem;
  font-weight:700;
  color:#457B9D;
}

.weapons{
  width: 90%;
  margin:auto;
  display:flex;
  justify-content:space-around;
  
}
.weapons_{
  width: 90%;
  margin:auto;
  display:flex;
  justify-content:space-around;
  
}

.weapons button{
  background-color:#ffd51b;
  color:black;
  border:none;
  font-size:2.5rem;
  height:4rem;
  width:4rem;
  border-radius:50%;
  outline:none;
  cursor:pointer;

  
}
.weapons_ button{
  background-color:#ffd51b;
  color:black;
  border:none;
  font-size:2.5rem;
  height:4rem;
  width:4rem;
  border-radius:50%;
  outline:none;
  cursor:pointer;
  margin-top:1rem; 
}  

.details{
  margin-top:2rem;
}
#userChoice,
#compChoice{
 color:rgb(134, 115, 115);
 font-size: 1.2rem;
font-weight:700;
}

#click{
  background-color: rgb(112, 117, 167);
  font-size: 0.8rem;
  color:white;
  padding:0.5rem;
  border-radius:5px;
  border:2px solid rgb(112, 117, 167);
  outline:none;
  margin:1rem;
  
}
#result{
  color:#576066;
  font-size:1.5rem;
}


#userChoice,
#compChoice
{
text-align:center;


}

#winner{
 display:block;
 font-size:2.5rem;
  color:black;
  text-align:center;
  background-color: rgb(214, 17, 50);
  border-radius:15px;
  margin-top:4rem;
  color:white;
}